@page "/Blog/Post/{id}"
@model dotnethomepage.Pages.PostModel

@section metatags
{
    <meta name="description" content="@Model.blogPost.metaDescription"/>
    <meta name="image" content="@Model.blogPost.metaImage"/>
}


<div class="blogpost">
    <h3>
        @Model.blogPost.title
    </h3>
    <time>posted @Model.blogPost.postDate.ToString("MMMM dd yyyy")</time>
    <p></p>
    <div>@Html.Raw(Model.blogPost.body)</div>
</div>
